<div class="entry">
<h1>About Rubyology</h1>

<p>
	Rubyology is one of the oldest running Ruby podcasts in existence dating back to 2007.  It was established by <%= link_to 'Chris Matthieu', 'http://twitter.com/chrismatthieu'%> with grand hopes of sharing his Ruby learning experiences with the community.  
</p>

</div>